<html>
<head>
    <title>Product Details | Resilience Demo Shop</title>
</head>

<body>
    <h1>{{product.name}}</h1>
    <p>{{product.description}}</p>
    <img src="{{product.imageUrl}}"/>


    <h2>Recommended for you</h2>
    <div id="recommendations">
    {{#recommendations}}
        <strong class="name">{{name}}</strong>
        <p>{{teaser}}</p>
    {{/recommendations}}
    </div>
</body>
</html>